/*
  Copyright 2021 Kidus Tiliksew

  This file is part of Tensor EMR.

  Tensor EMR is free software: you can redistribute it and/or modify
  it under the terms of the version 2 of GNU General Public License as published by
  the Free Software Foundation.

  Tensor EMR is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Rules for sizing the icon. */
.material-icons.md-12 {
  font-size: 12px;
}

.material-icons.md-14 {
  font-size: 14px;
}
.material-icons.md-16 {
  font-size: 16px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    font-size: smaller;
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: always;
  }
}

@page {
  size: auto;
  margin: 5mm;
}


.inner-circle {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgb(117, 117, 117);
  height: 100px;
  width: 80px;
  /*
   Put top edge and left edge in the center
  */
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -40px;
  /* 
   Offset the position correctly with
   minus half of the width and minus half of the height 
  */
}

.sketch-field {
  position: absolute;
  margin: -25px 0px 0px -40px;
}

