/*
  Copyright 2021 Kidus Tiliksew

  This file is part of Tensor EMR.

  Tensor EMR is free software: you can redistribute it and/or modify
  it under the terms of the version 2 of GNU General Public License as published by
  the Free Software Foundation.

  Tensor EMR is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.top-half-circle {
    width: 180px;
    height: 90px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border: 3px solid gray;
    border-bottom: 0;
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align: -webkit-baseline-middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transform: scaleX(-1);
  }
  
  .bottom-half-circle {
    width: 180px;
    height: 90px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 3px solid gray;
    border-bottom: 0;
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align: -webkit-baseline-middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transform: scaleY(-1);
  }
  